*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --background-color: #e0aaff;
}
body {
  background-color: var(--background-color);
  color: #3c096c;
}
header {
  text-align: center;
}
.user-input {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  .controls {
    display: flex;
    gap: 10px;
  }
  .algo {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    button[type="button"] {
      cursor: pointer;
      padding: 5px 10px;
      border: none;
      border-radius: 6px;
    }
  }
}

main {
  display: flex;
  justify-content: center;
}

#canvas {
  background-color: inherit;
}
