:root {
  --body-color: #bae8e8;
  --white-color: #ffffff;
  --start-btn-color: #34a3a3;
  --text-color: #272343;
  --element-color: #50af4c;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}

.container .title-container {
  margin: 20px 0;
}

.container .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.container .input-container .total-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .input-container .start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .input-container .end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .input-container label {
  margin-bottom: 8px;
}

.container .input-container input[type="text"] {
  width: 20vw;
  height: 2em;
  font-size: 1.2em;
  padding: 0;
  padding-left: 15px;
  border: none;
  border-radius: 5px;
}

.container .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.container .btn-container .btn {
  height: 40px;
  width: 20vw;
  background-color: var(--start-btn-color);
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  border-radius: 40px;
  color: var(--white-color);
}

.array-parent {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 100px auto 0;
}

.array-parent .array-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.array-parent .array-container .element {
  min-width: 60px;
  margin-left: 10px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  background-color: var(--element-color);
  color: var(--white-color);
}
/*# sourceMappingURL=style.css.map */